.radarChart{
  border: 1px solid #282D30;
  width: 258px;
  height: 263px;
  background-color: #282D30;
  border-radius: 5px;

  &__container{
    &--radar{
      .name{
        color: white;
      }
    }
  }
}

// tablet responsiv
@media screen and (max-width: 1240px) {
  .radarChart{
    width: 238px;
    height: 233px;
  }
}
