.radarChart{
  border: 1px solid blue;
  width: 258px;
  height: 263px;
  background-color: #282D30;
  border-radius: 5px;

  &__container{
    border: 1px solid blue;

    &--radar{

      .name{
        color: white;
      }
    }
  }
}