.frame{
  height: 100vh;
  overflow: hidden;

  .horizontalNav{
    background-color: #020203;
    height: 91px;
  }

  &__main{
    height: 91vh;
    display: flex;

    .verticalNav{
      background-color: #020203;
      width: 117px;
    }

    .mainContainer{
      width: 100%;
      padding-left: 109px;

      .head{
        border: 1px solid red;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      section{
        display: flex;

        .left{
          min-width: 835px;
          width: 70%;
          height: 610px;
          margin-right: 30px;

          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          // align-items: center;
        }

        .right{
          border: 1px solid blue;
          min-width: 258px;
          width: 20%;
        }
      }
    }
  }
}