.frame{
  height: 100vh;
  overflow: hidden;

  .horizontalNav{
    background-color: #020203;
    height: 91px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__btn{
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      margin: 8px;
      color: white;
      width: 12%;
      border: 1px solid red;
    }
  }

  &__main{
    height: 91vh;
    display: flex;

    .verticalNav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #020203;
      width: 117px;

      nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 40%;

        .navBtn{
          background-color: white;
          border-radius: 6px;
          width: 64px;
          height: 64px;
        }
      }
    }

    .mainContainer{
      width: 100%;
      padding-left: 109px;

      .head{
        border: 1px solid red;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      section{
        display: flex;

        .left{
          min-width: 835px;
          width: 70%;
          height: 610px;
          margin-right: 30px;

          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          // align-items: center;
        }

        .right{
          border: 1px solid blue;
          min-width: 258px;
          width: 20%;
        }
      }
    }
  }
}